<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="http://192.168.102.29:8000/repository/dc-edge-p1/index.json" protocolVersion="3" />

    <add key="decentest" value="http://192.168.102.29:8000/repository/dc-edge-h/index.json" protocolVersion="3"/>
  </packageSources>
</configuration>
